<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<form method="post" th:action="@{/example/addperson}" th:object="${persona}">
		<p>Nombre: <input type="text" th:field="*{nombre}"/> </p>
		<p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
		<p>Edad: <input type="number" th:field="*{edad}"/> </p>
		<p th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" ></p>
		<p> <input type="submit" value="enviar"> </p>
	</form>
</body>
</html>